/*
Theme Name: New Theme Coding by Xela
Author: Xela66
Description: Template pour DP
Version: 1.0
Tags: bootstrap, html, css3, javascript, php, symfony, react
 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.col-sm-8 img {
    max-width: 500px;
    height: auto;
    position: relative;
    float: left;
    padding-right: 15px;
}

.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

.page-container {
    flex-grow: 1;
}

